.home {
  padding: 5vh 10vw;

  h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 0;
  }

  h2 {
    font-weight: 500;
    font-size: 2.2em;
  }

  p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
  }

  a {
    color: #3578e5;
  }
}
